* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #dfe6e9;
  display: flex;
  align-items: center;

  height: 100vh;
}

.the-type {
  width: 80%;
  margin: 0 auto;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  display: inline;
  background: linear-gradient(
    45deg,
    rgb(0, 143, 104),
    rgb(172, 51, 233),
    rgb(250, 224, 66)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  text-transform: capitalize;
  border-right-style: solid;
  border-width: 10px;
  border-image: linear-gradient(
      45deg,
      rgb(0, 143, 104),
      rgb(172, 51, 233),
      rgb(250, 224, 66)
    )
    1;
}
